body {
    background-image: url("img/pexels-stein-egil-liland-3408744.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
}

a {
    color:white;
    text-decoration: none;
}

.icono1{
    border: black;
}

/* nuevo video */
.nav1 {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav .nav1 a{
    color: #fff;
    text-decoration: none;
}

.enlaces {
    padding: 10px 0;
    color: #fff;
    display: inline-block;
    font-weight: bold;
}

.enlaces:hover{
    text-decoration: underline;
}

.icono1 {
    color: #fff;
    display: block;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;
}

.enlaces {
    position: fixed;
    display: flex;
    top: 0;
    background: #000;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.uno{
-webkit-clip-path: circle(0% at 0 0);    
clip-path: circle(0% at 0 0);
}

.dos{
    -webkit-clip-path: circle(150% at 0 0);    
    clip-path: circle(150% at 0 0);
    }

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

h1 {
    margin: 20px 0;
    color: #ffff;
    width: 100%;
    text-align: center;
    padding: 50px;
    background: rgba(223, 9, 9, 0.445);
    font-size: 60px;
    
}

form {
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea {
    width: 97%;
    margin-bottom: 20px;
    margin: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    min-width: 398px;
    max-width: 97%;
}

#buton{
    background: #31384A;
    color: #fff;
    padding: 20px;
}

#buton:hover{
    cursor: pointer;
}


@media (max-width: 450px) {
    form{
        width: 100%;
    }
}


h1 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    background: rgba(41, 37, 37, 0.4);
}