*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    background-color: #0d0d0d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='92' viewBox='0 0 112 92'%3E%3Cg fill='%23ee0b0b' fill-opacity='0.2'%3E%3Cpath fill-rule='evenodd' d='M72 10H40L16 20H0v8h16l24-14h32l24 14h16v-8H96L72 10zm0-8H40L16 4H0v8h16l24-6h32l24 6h16V4H96L72 2zm0 84H40l-24-6H0v8h16l24 2h32l24-2h16v-8H96l-24 6zm0-8H40L16 64H0v8h16l24 10h32l24-10h16v-8H96L72 78zm0-12H40L16 56H0v4h16l24 14h32l24-14h16v-4H96L72 66zm0-16H40l-24-2H0v4h16l24 6h32l24-6h16v-4H96l-24 2zm0-16H40l-24 6H0v4h16l24-2h32l24 2h16v-4H96l-24-6zm0-16H40L16 32H0v4h16l24-10h32l24 10h16v-4H96L72 18z'/%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;    
}

.aca {
    margin: 20px;
}

.header1,
.wave{
    width: 120%;
    margin: 0 20px 0 0;
}

a {
    color:white;
    text-decoration: none;
}

/* nuevo video */
.nav1 {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav .nav1 a{
    color: #fff;
    text-decoration: none;
}

.enlaces {
    padding: 10px 0;
    color: #fff;
    display: inline-block;
    font-weight: bold;
}

.enlaces:hover{
    text-decoration: underline;
}

.icono1 {
    display: block;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;
}

.header1 {
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    padding: 48px;
    width: 100%;
}

.container1{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}


.img11{
    display: block;
    height: 450px;
    object-fit: cover;
    animation: arriba 1s ease-in;
}

.textos1{
    width: 50%;
    color:#fff;
}

.textos1 h1{
    font-size:80px;
    animation: moverDerecha 1s ease-in;

}

.textos1 h2{
    font-size:30px;
    animation: moverIzquierda 1s ease-in;
}

.textos1 a{
    display: inline-block;
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;
}


.wave {
    height: 100px;
    width: 100%;
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.enlaces {
    position: fixed;
    display: flex;
    top: 0;
    background: #000;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.uno{
-webkit-clip-path: circle(0% at 0 0);    
clip-path: circle(0% at 0 0);
}

.dos{
    -webkit-clip-path: circle(150% at 0 0);    
    clip-path: circle(150% at 0 0);
    }

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

/* SHOCASE */
hr {
    margin: 10px 0;
}
.showcase {
    margin-top: 70px;
    width: 100%;
    height: 630px;
    background: url('./img/pexels-scott-webb-430208.jpg') no-repeat center center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.showcase p{
    text-align: center;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 10px;
}

.btn:hover {
    background: rgba(51, 51, 51, 0.3);
    opacity: 16;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}

/* NEWS CARDS */
.news-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
}

.news-cards img {
    width: 100%;
    height: 180px;
}

.news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}

.news-cards a {
    padding: 10px 0;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover {
    text-decoration: underline;
    
}

/* CARDS BANNER ONE */
.cards-banner-one {
    width: 100%;
    height: 350px;
    background: url('./img/pexels-photo-715995.jpeg') no-repeat center center/cover;
    margin-bottom: 40px;  
}

.cards-banner-one .cont {
    width: 40%;
    padding: 90px 0 0 30px;
    color: #fff;
}

.cards-banner-one h2,
.cards-banner-one p {
    margin: 10px 0 20px 0;
}

/* CARDS BANNER TWO */

.cards-banner-two {
    width: 100%;
    height: 350px;
    background: url('./img/este.jpeg') no-repeat center center/cover;
    margin-bottom: 40px;
}

.cards-banner-two .content {
    width: 40%;
    padding: 90px 0 0 30px;
}

.cards-banner-two h2,
.cards-banner-two p {
    margin: 10px 0 20px 0;
}

/* SOCIAL */
.social {
    margin: 50px;
}

.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link a {
    margin: 0 30px;
}

.link a i {
    font-size: 3rem;
}

/* FOOTER LINKS */

.footer-links {
    background: #262a31;
    color: #464646;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 2.3;
}


.footer {
    background: #2f3240;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media screen and (max-width:1000px){
    img{
        height: 400px;
    }
}

@media screen and (max-width:800px){
    .img11{
        height: 370;
    }
    .textos1 h1{
        font-size: 60px;
    }
    .textos1 h2{
        font-size: 25px;
    }
}

@media screen and (max-width:700px){
    
    
    .img11{
        height: 370;
    }
    .textos1 h1{
        font-size: 35px;
    }
    .textos1 h2{
        font-size: 20px;
    }
}

@media screen and (max-width:500px){
    .container1{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    
    .textos1{
        width: 100%;
        text-align: center;
    }
    .textos1 h1{
        font-size: 60px;
    }
    .textos1 h2{
        font-size: 25px;
    }
}
 

@media (max-width: 700px) {

    .menu-btn {
        display: block;
    } 

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: black;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.show {
        transform: translate(-20px);
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
        font-size: 14px;
    }

    .nav-main ul.nav-menu-right {
        margin-right: 40px;
    }

    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-banner-one .cont,
    .cards-banner-two .content{
        width: 80%;
    }
    
    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width: 500px) {

    .showcase{
        width: 100%;
        height: 650px;
    }

    .footer-links {
        text-align: center;
    }

    .news-cards {
        grid-template-columns: 1fr;
    }

    .news-cards img {
        height: 270px;
    }

    .cards-banner-one .cont,
    .cards-banner-two .content {
        width: 100%;
        padding: 60px 20px;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr;
    }
}
